@font-face {
    font-family: 'Sansita Swashed';
    src: url('SansitaSwashed-Light.woff2') format('woff2'),
        url('SansitaSwashed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

